<!--<div class="flex sticky top-0 bg-white border-b border-gray-200 z-100 h-16 items-center justify-between flex-wrap">-->
<div class="flex items-center justify-between flex-wrap p-6 sticky top-0 bg-white border-b border-gray-200">
  <div class="w-full max-w-screen-xl relative mx-auto px-6">
    <div class="flex items-center -mx-6">
      <div class="flex-grow">
          <div class="flex items-center">
            <%= link_to "take a GIF", root_path, class: "block lg:mr-4 text-black font-bold" %>
           </div>
        </div>

        <div>
          <%= link_to 'New Gif', new_gif_path, class: "nav-link btn btn-purple" %>
          <% if user_signed_in? %>
            <%= link_to "My GIF's", current_user, class: "nav-link" %>
            <%= link_to current_user.name, edit_user_registration_path, class: "nav-link" %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <% end %>
        </div>

    </div>
  </div>
</div>
